{% extends 'base.html.twig' %}

{% block title %}Wild Code School
{% endblock %}

{% block body %}
	<div id="app" {{ react_component('Main', {'fullName': 'Wilders', 'slug' : slug} ) }}></div>
{% endblock %}
