@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
    --wild-color: #a306b6;
    --light: #fffbfb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 50px;
}

header nav ul {
    padding-right: 3rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
}
